---
layout: default
path: index.html
---
<ul id="news">
{% for post in paginator.posts %}
  <li class="news-item">
    <h2>
  {% if post.external_link %}
      <a href="{{ post.external_link }}" target="_blank">{{ post.title }}</a>
  {% else %}
      {{ post.title }}
  {% endif %}
    </h2>
    <div class="info">
      lagt til av {{ post.author | escape }} den <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d/%m-%Y"}}</time>
    </div>
    <article>
      {{ post.excerpt }}
    </article>
    <p>
      <a href="{{ post.url }}">Les mer</a>
    </p>
  </li>
{% endfor %}
</ul>

<!-- Pagination links -->
<nav class="pagination">
{% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" >Eldre nyheter</a>
{% endif %}

{% if paginator.previous_page and paginator.next_page %}
  -
{% endif %}

{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}">Eldre nyheter</a>
{% endif %}
</nav>
