---
layout: default
---

<div class="tekstfelt">

  <div class="home">
{% for post in paginator.posts %}
    <div style="padding-bottom: 2em">
      <div class="overskrift">
  {% if post.external_link %}
        <a href="{{ post.external_link }}" target="_blank">{{ post.title }}</a>
  {% else %}
        {{ post.title }}
  {% endif %}
      </div>
      <div class="info">
        lagt til av {{ post.author | escape }} den {{ post.date | date: "%d/%m-%Y"}}
      </div>
      <div class="nyhet">
        {{ post.content }}
      </div>
    </div>
{% endfor %}
  </div>

  <!-- Pagination links -->
  <center>
{% if paginator.previous_page %}
    <a style="font-size:small" href="{{ paginator.previous_page_path }}" >Eldre nyheter</a>
{% endif %}

{% if paginator.previous_page and paginator.next_page %}
    -
{% endif %}

{% if paginator.next_page %}
    <a style="font-size:small" href="{{ paginator.next_page_path }}">Eldre nyheter</a>
{% endif %}
  </center>
</div>
