html {
  box-sizing: border-box;
  font-family: verdana, sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul#news {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#logo {
  display: block;
}

body {
  background: #ddd;
  color: black;
}

#tagline,
#links {
  text-align: center;
}

.container {
  width: auto;
  margin: 1rem 0;
  background: white;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

@media (min-width: 60rem) {
  .container {
     width: auto;
     margin: 1rem 10%;
     border: 1px solid #999;
     border-radius: 5px;
  }
}

#pages {
  background: #444;
  color: #ddd;
  text-align: center;
}

#pages ul,
#links ul {
  display: inline;
  list-style: none;
  padding: 0;
}

#pages li,
#links li {
  display: inline;
}

#pages li:not(:last-child)::after,
#links li:not(:last-child)::after {
    content: " - ";
}

#pages a {
  color: #ddd;
}

#links {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
}

main {
  padding: 0.5rem 1rem;
}

h2 {
  font-size: 1.2rem;
}

.info {
  font-style: italic;
  font-size: 0.75rem;
}

.news-item article {
  margin: auto 0;
}

footer {
  text-align: center;
  font-size: 0.75rem;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.news-item {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

nav.pagination {
  text-align: center;
  font-size: 0.75rem;
}
