html {
  box-sizing: border-box;
  font-family: verdana, sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

#logo {
  display: block;
}

body {
  background: #ddd;
  color: black;
}

#tagline,
#lenker,
#rss {
  text-align: center;
}

.main {
  width: auto;
  margin: 1rem 10%;
  background: white;
  border: 1px solid #999;
  border-radius: 5px;
}

.sortbelte {
  background: #444;
  color: #ddd;
  text-align: center;
  white-space: nowrap;
  font-size: 1rem;
}

.sortbelte a {
  color: #ddd;
}

#lenker {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
}

.tekstfelt {
  padding: 0.5rem 1rem;
}

.kommentarlinje {
  font-size: 0.75rem;
  margin-top: 0;
  font-style: italic;
}

.nyhet {
  margin: auto 0;
  font-size: 1rem;
}

.overskrift {
  font-weight: bold;
  font-size: 1.2rem;
}

.info {
  font-style: italic;
  font-size: 0.75rem;
}

.fotnote {
  text-align: center;
  clear: right;
  font-size: 0.75rem;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
