<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% link assets/style.css %}">
  </head>
  <body>
    <div id="tagline">New and "improved" source code!</div>
    <div class="main">
      <a href="{% link index.html %}">
        <img id="logo" src="{% link logos/default.jpg %}" width="320" height="164">
        <script>
          var images = {{ site.static_files | where: "logo", true | map: "path" | jsonify }};
          var image = images[Math.floor(Math.random() * images.length)];
          document.getElementById("logo").src = image;
        </script>
      </a>
      <nav class="sortbelte">
        <a href="{% link index.html %}">nyheter</a> -
        <a href="/forum/">forum</a> -
        <a href="artikkel.php">artikler</a> -
        utgivelser -
        party -
        <a href="link.php">linker</a>
      </nav>

      <nav id="lenker">
        <a href="http://www.pouet.net" target="_blank">pouet</a> -
        <a href="http://www.scene.org" target="_blank">scene.org</a> -
        <a href="http://www.ojuice.net" target="_blank">ojuice</a> -
        <a href="http://www.scenemusic.net" target="_blank">nectarine</a> -
        <a href="http://quotes.demoscene.no" target="_blank">quotes</a> -
        <a href="http://www.slengpung.com" target="_blank">slengpung</a>
      </nav>

      {{ content }}

      <footer>
        dezin: <a href="mailto:eflund@dontfuckingspamme.online.no">kusma</a> | webmaster: <a href="mailto:silmaril@dontfuckingspammeeither.online.no">silmaril</a>
      </footer>
    </div>

    <div id="rss">
      <a href="{{ 'feed.xml' | relative_url }}">
        <img src="{% link gfx/valid-rss.png %}" alt="[Valid RSS]" title="Validate my RSS feed">
      </a>
    </div>
  </body>
</html>
