<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    {% if page.title %}
    <title>demoscene.no - {{ page.title }}</title>
    {% else %}
    <title>demoscene.no</title>
    {% endif %}
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
    <link type="application/atom+xml" rel="alternate" href="{{ 'feed.xml' | relative_url }}" title="demoscene.no news">
  </head>
  <body>
    <div id="tagline"><p>{{ site.tagline }}</p></div>
    <div class="container">
      <a href="{% link index.html %}">
        <img id="logo" src="{% link assets/logos/default.jpg %}" alt="demoscene.no" width="320" height="164">
        <script>
          var images = {{ site.static_files | where: "logo", true | map: "path" | jsonify }};
          var image = images[Math.floor(Math.random() * images.length)];
          document.getElementById("logo").src = image;
        </script>
      </a>
      <nav id="pages">
        <ul>
          <li><a href="{% link index.html %}">nyheter</a></li>
          {% for page in site.pages %}
            {% if page.title %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>

      <nav id="links">
        <ul>
        {% for link in site.links %}
          <li><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></li>
        {% endfor %}
        </ul>
      </nav>

      <main>
        {{ content }}
      </main>
    </div>

    <footer>
      <p><a href="https://github.com/demoscene-no/demoscene-no.github.io/blob/main/{{page.path}}">Foreslå endringer for denne siden</a></p>
    </footer>

  </body>
</html>
