<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% link assets/style.css %}">
  </head>
  <body>
    <div id="tagline">New and "improved" source code!</div>
    <div class="main">
      <a href="{% link index.html %}">
        <img id="logo" src="{% link logos/default.jpg %}" alt="demoscene.no" width="320" height="164">
        <script>
          var images = {{ site.static_files | where: "logo", true | map: "path" | jsonify }};
          var image = images[Math.floor(Math.random() * images.length)];
          document.getElementById("logo").src = image;
        </script>
      </a>
      <nav id="pages">
        <ul>
          <li><a href="{% link index.html %}">nyheter</a></li>
          {% for page in site.pages %}
            {% if page.title %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>

      <nav id="links">
        <ul>
          <li><a href="http://www.pouet.net" target="_blank">pouet</a></li>
          <li><a href="http://www.scene.org" target="_blank">scene.org</a></li>
          <li><a href="http://www.ojuice.net" target="_blank">ojuice</a></li>
          <li><a href="http://www.scenemusic.net" target="_blank">nectarine</a></li>
          <li><a href="http://quotes.demoscene.no" target="_blank">quotes</a></li>
          <li><a href="http://www.slengpung.com" target="_blank">slengpung</a></li>
        </ul>
      </nav>

      <div class="tekstfelt">
        {{ content }}
      </div>

      <footer>
        Please submit a GitHub pull-request to the <a href="https://github.com/demoscene-no/demoscene-no.github.io">repository</a> if you want something changed.
      </footer>
    </div>

    <div id="rss">
      <a href="{{ 'feed.xml' | relative_url }}">
        <img src="{% link gfx/valid-rss.png %}" alt="[Valid RSS]" title="Validate my RSS feed">
      </a>
    </div>
  </body>
</html>
